@import "base";


html {
    margin: 0;
    height: 100%;
}

body {
    background-color: $startsiden-yellow;
    background-image: -webkit-repeating-radial-gradient(
        33% 33%, circle, 
        transparent, 
        transparent 50px, 
        rgba(255,255,255, 0.3) 50px, 
        rgba(255,255,255,.3) 100px
        );
}

h1, h2 {
    font-family: 'Helvetica', Sans-serif;
    color: #a00;
}

.title-box {
    border-bottom: 2px solid #aaa;
    h2 {
        display:       inline-block;
        margin-bottom: 0;
    }

    span {
        margin-left: 12px;
        font-size: 17px;
        color: #aaa;
        cursor: pointer;
    }

    .legend {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(white, 1);
        border: 1px solid #aaa;
        font-size: 15px;
        color: #888;
        padding: 4px 18px 4px 6px;
        margin-left: 6px;
        margin-bottom: 2px;
        border-radius: 4px;
        div {
            margin-left: 12px;
            vertical-align: middle;
            display: inline-block;
            position: relative;
            top: -1px;
            width: 12px;
            height: 12px;
            border: 1px solid red;
        }

        .color-experience {
            border: 1px solid #ff9900;
            background-color: rgba(#ff9900, 0.3);
        }

        .color-knowledge {
            border: 1px solid #4444ff;
            background-color: rgba(#4444ff, 0.3);
        }

        .color-motivation {
            border: 1px solid #00AA00;
            background-color: rgba(#00AA00, 0.3);
        }
    }
}
.container-fluid {
    padding-top: 60px;
    margin: 0;
}


.span4 {
    border: 1px solid red;

}

.imagebox {
    text-align: left;
    overflow: visible;
    padding: 24px;
}

.compmap-navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    background-color: #222;
}

.compmap-navbar .navbar-inner {
    background-color: black;
    background-image: -webkit-linear-gradient(
        top, 
        rgba(255,255,255, 0.4), 
        transparent
        );
}

.navbar .comp-brand {
    margin-left: -4px;
}

.comp-form-container {
    padding-left: 3px;
    padding-right: 3px;
}

.comp-form-container iframe {
    box-shadow: 0 4px 16px rgba(0,0,0, 0.7);
}


.ui-draggable-dragging {
    opacity: 0.7;
    box-shadow: 0 12px 24px rgba(black, 0.5);
    width: 230px;
    height: 230px;
}

.ui-draggable-original {
    opacity: 0.6;
}

.ui-drop-highlight {
    background-color: rgba(128,128,255, 0.5);
}

.row-fluid {
    .team-boxes {
        margin: 0;
    }
    #team-map-nav {
        margin-bottom: 0;
    }
}

.compmap-img {
    width: 222px;
    height: 222px;
    border: 1px solid #aaa;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 8px;
    padding-top: 6px;
    border-radius: 12px;
}

.team-box {
    display: inline-block;
    border: 1px solid $team-title-border;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(black, 0.3);
    max-width: 238px;
    .team-box-title {
        padding: 3px 8px;
        font-size: 17px;
        color: #888;
        border-bottom: 1px solid $team-title-border;
        background-color: $team-title-color;
        border-radius: 14px 14px 0 0;

        span {
            display: inline-block;
            margin: 5px 6px;
            cursor: pointer;

            i {
                position: relative;
                top: 3px;
                margin-left: 6px;
            }
        }

        .input-append {
            margin-bottom: 0;
            width: 180px;
        }

        input {
            width: 60%;
            margin: 0;
        }

        .btn-group {
            float: right;
            margin: 0;
            top: 2px;
        }

        .btn {
            padding: 2px 6px;
        }
    } 

    .team-graph-box {
        img {
            width: 222px;
            height: 222px;
        }
    }

    .team-icon-box {
        background-color: $team-title-color;
        border-top: 1px solid $team-title-border;
        text-align: left;
        img {
            position: relative;
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            border: 1px solid $team-title-border;
            box-shadow: 0 1px 4px rgba(black, 0.4);
            border-radius: 8px;
            display: inline-block;

        }
    }
}

.team-boxes {
    /* background-color: rgba(255,255,255, 0.5); */
    /* margin: -20px -26px 20px -26px; */
    border: 1px solid #ddd;
    border-top: 0;

    img {
        display: inline-block;
        vertical-align: top;
        margin: 8px;
    }
    .drag-here-placeholder {
        display: inline-block;
        vertical-align: top;
        width: 222px;
        height: 232px;
        background-color: rgba(black, 0.1);
        border-radius: 12px;
        box-shadow: 0 2px 12px rgba(black, 0.3) inset;
        margin: 8px;

        .inner {
            border: 4px dashed white;
            border-radius: 8px;
            margin: 10px;
            height: 162px;
            position: relative;
            padding-top: 42px;
            font-size: 56px;
            line-height: 56px;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 2px 12px rgba(black, 0.5);
            color: white;
        }
    }
}

.login-form-box {
    margin-top: 20%;
    border: 1px solid #888;
    border-radius: 12px;
    background-color: rgba(white, 0.6);
    box-shadow: 0 6px 12px rgba(black, 0.3);

    h1 {
        border-bottom: 1px solid #888;
        padding: 10px 24px; 
        font-size: 17px;
        margin: 0 0 20px 0;
        line-height: 17px;
        border-radius: 12px 12px 0 0;
        background-color: rgba(white, 0.6);
        text-shadow: 0 -1px rgba(black, 0.5);

        @include background-image (
            linear-gradient(
                top,
                rgba(black, 0.2) 0%,
                rgba(white, 1) 100%
            )
        );
    }
    form {
        label {
            font-size: 19;
            color: #888;
        }
    }



}
