
h1, h2 {
    font-family: 'Helvetica', Sans-serif;
    color: #a00;
}

.title-box {
    border-bottom: 2px solid #aaa;
    h2 {
        display:       inline-block;
        margin-bottom: 0;
    }

    span {
        margin-left: 6px;
        font-size: 17px;
        color: #aaa;
        cursor: pointer;
    }
}

html {
	margin: 0;
    height: 100%;
}

body {
    background-color: #ffeac0;
    background-image: -webkit-repeating-radial-gradient(
        250px 250px, circle, 
        transparent, 
        transparent 50px, 
        rgba(255,255,255, 0.3) 50px, 
        rgba(255,255,255,.3) 100px
        );
}

.container-fluid {
    padding-top: 60px;
    margin: 0;
}


.span4 {
    border: 1px solid red;

}

.compmap-img {
    width: 222px;
    height: 222px;
    border: 1px solid #aaa;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 8px;
    padding-top: 6px;
    border-radius: 12px;
}


.imagebox {
    text-align: left;
    overflow: visible;
    

}

.compmap-navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    background-color: #222;
}

.compmap-navbar .navbar-inner {
    background-color: black;
    background-image: -webkit-linear-gradient(
        top, 
        rgba(255,255,255, 0.4), 
        transparent
        );
}

.navbar .comp-brand {
    margin-left: -4px;
}

.comp-form-container {
    padding-left: 3px;
    padding-right: 3px;
}

.comp-form-container iframe {
    box-shadow: 0 4px 16px rgba(0,0,0, 0.7);
}

.new-team-box {
    background-color: rgba(255,255,255, 0.5);
    padding: 24px;
    /* margin: -20px -26px 20px -26px; */
    border: 1px solid #ddd;
    border-top: 0;
}
.row-fluid {
    .team-boxes {
        margin: 0;
    }
    #team-map-nav {
        margin-bottom: 0;
    }
}


.ui-draggable-dragging {
    opacity: 0.7;
    box-shadow: 0 12px 24px rgba(black, 0.5);
    width: 230px;
    height: 230px;
}

.ui-draggable-original {
    opacity: 0.6;
}

.drag-here-placeholder {
    display: block;
    width: 222px;
    height: 228px;
    background-color: rgba(black, 0.1);
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5) inset;

    .inner {
        border: 4px dashed white;
        margin: 10px;
        height: 158px;
        position: relative;
        top: 10px;
        padding-top: 42px;
        font-size: 56px;
        line-height: 56px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 2px 12px rgba(black, 0.5);
        color: white;
    }
}
