/* line 3, ../../src/sass/cm.scss */
html {
  margin: 0;
  height: 100%;
}

/* line 8, ../../src/sass/cm.scss */
body {
  background-color: #ffeac0;
  background-image: -webkit-repeating-radial-gradient(250px 250px, circle, transparent, transparent 50px, rgba(255, 255, 255, 0.3) 50px, rgba(255, 255, 255, 0.3) 100px);
}

/* line 19, ../../src/sass/cm.scss */
h1, h2 {
  font-family: "Helvetica", Sans-serif;
  color: #a00;
}

/* line 24, ../../src/sass/cm.scss */
.title-box {
  border-bottom: 2px solid #aaaaaa;
}
/* line 26, ../../src/sass/cm.scss */
.title-box h2 {
  display: inline-block;
  margin-bottom: 0;
}
/* line 31, ../../src/sass/cm.scss */
.title-box span {
  margin-left: 12px;
  font-size: 17px;
  color: #aaa;
  cursor: pointer;
}
/* line 38, ../../src/sass/cm.scss */
.title-box .legend {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #aaaaaa;
  font-size: 15px;
  color: #888;
  padding: 4px 18px 4px 6px;
  margin-left: 6px;
  margin-bottom: 2px;
  border-radius: 4px;
}
/* line 49, ../../src/sass/cm.scss */
.title-box .legend div {
  margin-left: 12px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -1px;
  width: 12px;
  height: 12px;
  border: 1px solid red;
}
/* line 60, ../../src/sass/cm.scss */
.title-box .legend .color-experience {
  border: 1px solid #ff9900;
  background-color: rgba(255, 153, 0, 0.3);
}
/* line 65, ../../src/sass/cm.scss */
.title-box .legend .color-knowledge {
  border: 1px solid #4444ff;
  background-color: rgba(68, 68, 255, 0.3);
}
/* line 70, ../../src/sass/cm.scss */
.title-box .legend .color-motivation {
  border: 1px solid #00aa00;
  background-color: rgba(0, 170, 0, 0.3);
}

/* line 76, ../../src/sass/cm.scss */
.container-fluid {
  padding-top: 60px;
  margin: 0;
}

/* line 82, ../../src/sass/cm.scss */
.span4 {
  border: 1px solid red;
}

/* line 87, ../../src/sass/cm.scss */
.imagebox {
  text-align: left;
  overflow: visible;
  padding: 24px;
}

/* line 93, ../../src/sass/cm.scss */
.compmap-navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #222;
}

/* line 98, ../../src/sass/cm.scss */
.compmap-navbar .navbar-inner {
  background-color: black;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), transparent);
}

/* line 107, ../../src/sass/cm.scss */
.navbar .comp-brand {
  margin-left: -4px;
}

/* line 111, ../../src/sass/cm.scss */
.comp-form-container {
  padding-left: 3px;
  padding-right: 3px;
}

/* line 116, ../../src/sass/cm.scss */
.comp-form-container iframe {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
}

/* line 121, ../../src/sass/cm.scss */
.ui-draggable-dragging {
  opacity: 0.7;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  width: 230px;
  height: 230px;
}

/* line 128, ../../src/sass/cm.scss */
.ui-draggable-original {
  opacity: 0.6;
}

/* line 132, ../../src/sass/cm.scss */
.ui-drop-highlight {
  background-color: rgba(128, 128, 255, 0.5);
}

/* line 137, ../../src/sass/cm.scss */
.row-fluid .team-boxes {
  margin: 0;
}
/* line 140, ../../src/sass/cm.scss */
.row-fluid #team-map-nav {
  margin-bottom: 0;
}

/* line 145, ../../src/sass/cm.scss */
.compmap-img {
  width: 222px;
  height: 222px;
  border: 1px solid #aaaaaa;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  margin: 8px;
  padding-top: 6px;
  border-radius: 12px;
}

/* line 156, ../../src/sass/cm.scss */
.compmap-img-team {
  width: 222px;
  height: 222px;
}

/* line 162, ../../src/sass/cm.scss */
.team-box {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
/* line 169, ../../src/sass/cm.scss */
.team-box .team-box-title {
  padding: 3px 8px;
  font-size: 17px;
  color: #888;
  border-bottom: 1px solid #dddddd;
  background-color: #eee;
  border-radius: 14px 14px 0 0;
}
/* line 177, ../../src/sass/cm.scss */
.team-box .team-box-title span {
  display: inline-block;
  margin: 5px 6px;
  cursor: pointer;
}
/* line 182, ../../src/sass/cm.scss */
.team-box .team-box-title span i {
  position: relative;
  top: 3px;
  margin-left: 6px;
}
/* line 189, ../../src/sass/cm.scss */
.team-box .team-box-title .input-append {
  margin-bottom: 0;
  width: 180px;
}
/* line 194, ../../src/sass/cm.scss */
.team-box .team-box-title input {
  width: 60%;
  margin: 0;
}
/* line 199, ../../src/sass/cm.scss */
.team-box .team-box-title .btn-group {
  float: right;
  margin: 0;
  top: 2px;
}
/* line 205, ../../src/sass/cm.scss */
.team-box .team-box-title .btn {
  padding: 2px 6px;
}

/* line 211, ../../src/sass/cm.scss */
.team-boxes {
  /* background-color: rgba(255,255,255, 0.5); */
  /* margin: -20px -26px 20px -26px; */
  border: 1px solid #dddddd;
  border-top: 0;
}
/* line 217, ../../src/sass/cm.scss */
.team-boxes img {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
}
/* line 222, ../../src/sass/cm.scss */
.team-boxes .drag-here-placeholder {
  display: inline-block;
  vertical-align: top;
  width: 222px;
  height: 232px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3) inset;
  margin: 8px;
}
/* line 232, ../../src/sass/cm.scss */
.team-boxes .drag-here-placeholder .inner {
  border: 4px dashed white;
  border-radius: 8px;
  margin: 10px;
  height: 162px;
  position: relative;
  padding-top: 42px;
  font-size: 56px;
  line-height: 56px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  color: white;
}
